//variables

html
{
        font-size: 20px;
}

:root
{
        --text-color1: #b0b0b0;
        --text-color2: #e0e0e0;
        --text-color3: #cccccc;

        --bg-color1: #303030;
        --bg-color2: #252525;
        --bg-color3: #202020;

        --link-color1: #6e9ac8;         //a normal, unvisited link
        --link-color2: #c563dd;         //a link the user has visited
        --link-color3: #c563dd;         //a link when the user mouses over it
        --link-color4: #c563dd;         //a link the moment it is clicked
}

/* width */
::-webkit-scrollbar { width: 0.5rem; }
      
/* Track */
::-webkit-scrollbar-track { background: var(--bg-color1); }
 
/* Handle */
::-webkit-scrollbar-thumb { background: #00bb00; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #22dd22; }