//variables

html
{
        font-size: 20px;
}

:root
{
        --text-color1: #b0b0b0;
        --text-color2: #e0e0e0;
        --text-color3: #cccccc;

        --bg-color1: #303030;
        --bg-color2: #252525;
        --bg-color3: #202020;

        --link-color1: #6e9ac8;         //a normal, unvisited link
        --link-color2: #c563dd;         //a link the user has visited
        --link-color3: #c563dd;         //a link when the user mouses over it
        --link-color4: #c563dd;         //a link the moment it is clicked
}