@import "global-variables";



body
{
        margin-left: 5rem;
        margin-bottom: 1rem;
}



.extern-link a:link          { color: var(--link-color1); }
.extern-link a:visited       { color: var(--link-color2); }
.extern-link a:hover         { color: var(--link-color3); }
.extern-link a:active        { color: var(--link-color4); }

.content
{
        min-height: 100%;

        margin: 0 auto -5rem;
}



#footer
{
        position: relative;
        height: 1rem;
        padding-top: 2rem;

}


// Big screens
@media only screen and (min-width: $critical-width)
{
        #footer
        {
                margin-left: 0.5rem;
                margin-bottom: 0rem;
        }


        .push
        {
                height: 2rem;
        }
}


// Small screens
@media only screen and (max-width: $critical-width)
{
        #footer
        {
                margin-left: -4.5rem;
        }

        .push
        {
                height: 8rem;
        }
}
