@import "global-variables";



body
{
        margin-left: 5rem;
        margin-bottom: 1rem;
}



.extern-link a:link          { color: var(--link-color1); }
.extern-link a:visited       { color: var(--link-color2); }
.extern-link a:hover         { color: var(--link-color3); }
.extern-link a:active        { color: var(--link-color4); }

.content
{
        min-height: 95%;

        margin: 0 auto -1rem;
}

.push
{
        height: 3rem;
}

#footer
{
        position: relative;
        margin-left: 0.5rem;

        height: 1rem;
}

