@import "global-variables";

#title
{
        margin: 0;
        padding: 0;
}

#title h1
{
        position: absolute;

        text-align: center;
        font-size: 10vw;

        right: 0rem;
        top: 8rem;
        
        z-index: 50;

        margin: 0;
        padding: 0;
}

#title img
{
        position: absolute;

        right: 0rem;
        top: 6rem;
        height: 18vw;

        z-index: 49;

        margin: 0;
        padding: 0;
}

// Big screens
@media only screen and (min-width: $critical-width)
{
        #title h1
        {
                left: 5rem;
        }

        #title img
        {
                left: 5rem;
                
                width: calc(100% - 5rem);
        }
}


// Small screens
@media only screen and (max-width: $critical-width)
{
        #title h1
        {
                left: 0rem;
        }

        #title img
        {
                left: 0rem;

                width: 100%;
        }
}
