
$background-color: rgb(44, 48, 66);
$navbgcolor: rgb(31, 35, 49);
$icon-color: #000000;
$icon-color-hover: #111111;
$flex-height: 100%;

body {
	margin: 0px;
	font-size: large;
	background-color: $background-color;
}


.container {
	display: flex;
    	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	height: $flex-height;
}

.columns {
	flex-direction: column;
}

.rows {
	flex-direction: row;
}


.sidenav {
	height: 100%;
	order: 0;
  	flex: 0 0 auto;
  	align-self: auto;
  	background-color: $navbgcolor;
  	margin-left: 0;
}

.navbar {
	display: flex;
	font-size: 2em;
	justify-content: flex-end;
	align-items: flex-end;
}



.container-spaced {
	order: 0;
  	flex: 1 1 auto;
  	align-self: auto;
  	margin-right: 0;
}


.svg-icon {
	width: 2em;
	height: 2em;
}
      
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
	fill: $icon-color;
}
      
.svg-icon circle {
	stroke: #000000;
	stroke-width: 1;
}

.navbar-item {
	align-items: flex-end;
	flex-basis: content;
}

.svg-login-icon {
	width: 1em;
	height: 1em;
	padding-right: 10px;
}

.svg-login-icon:hover {
	fill: $icon-color-hover;
}