@import "global-variables";

:root {
        
        font-family: 'Open Sans';

        --transition-speed: 600ms;
      }

      .side-bar
      {
              position: fixed;
              left: 0;
              z-index: 200;

      }
      
      body {
        color: var(--text-color1);
        background-color: var(--bg-color2);
        margin: 0;
        padding: 0;
      }

      html
      {
        color: var(--text-color1);
        background-color: var(--bg-color2);
      }

      head
      {
        color: var(--text-color1);
        background-color: var(--bg-color2);
      }

      
      
      .navbar {
        position: fixed;
        background-color: var(--bg-color1);
        transition: width 600ms ease;
        overflow: scroll;

        overflow: hidden
      }

      
      
      .navbar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
      }
      
      .nav-item {
        width: 100%;
      }
      
      .nav-item:last-child {
        margin-top: auto;
      }
      
      .nav-link {
        display: flex;
        align-items: center;
        height: 5rem;
        color: var(--text-color1);
        text-decoration: none;
        filter:  opacity(0.7);
        transition: var(--transition-speed);
      }
      
      .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background: var(--bg-color2);
        color: var(--text-color2);
      }
      
      .link-text {
        display: none;
        margin-left: 1rem;
      }
      
      .nav-link svg {
        width: 2rem;
        min-width: 2rem;
        margin: 0 1.5rem;
      }
      
      .fa-primary {
        color: #22dd22;
      }
      
      .fa-secondary {
        color: #00bb00;
      }
      
      .fa-primary,
      .fa-secondary {
        transition: var(--transition-speed);
      }
      
      .logo {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;
        background: var(--bg-color3);
        color: var(--text-color3);
        font-size: 1.5rem;
        letter-spacing: 0.3ch;
        width: 100%;
      }
      
      .logo svg {
        transform: rotate(0deg);
        transition: var(--transition-speed);
      }
      
      .logo-text
      {
        display: inline;
        position: absolute;
        left: -999px;
        transition: var(--transition-speed);
      }
      
      .navbar:hover .logo svg {
        transform: rotate(-180deg);
      }
      
      /* Small screens */
      @media only screen and (max-width: 600px) {
        .navbar {
          bottom: 0;
          width: 100vw;
          height: 5rem;
        }
      
        .logo {
          display: none;
        }
      
        .navbar-nav {
          flex-direction: row;
        }
      
        .nav-link {
          justify-content: center;
        }
      
        main {
          margin: 0;
        }
      }
      
      /* Large screens */
      @media only screen and (min-width: 600px) {
        .navbar {
          top: 0;
          width: 5rem;
          height: 100vh;
        }
      
        .navbar:hover {
          width: 16rem;
        }
      
        .navbar:hover .link-text {
          display: inline;
        }
      
        .navbar:hover .logo svg
        {
          margin-left: 11rem;
        }
      
        .navbar:hover .logo-text
        {
          left: 0px;
        }
      }
      
      .dark {
        --text-primary: #b0b0b0;
        --text-secondary: #e0e0e0;
        --bg-primary: #303030;
        --bg-secondary: #252525;
        --bg-tertary: #202020;
      }
      
      .light {
        --text-primary: #1f1f1f;
        --text-secondary: #000000;
        --bg-primary: #f0f0f0;
        --bg-secondary: #e0e0e0;
        --bg-tertary: #d0d0d0;
      }
      
      .solar {
        --text-primary: #43585f;
        --text-secondary: #4a7583;
        --bg-primary: #f8e9c1;
        --bg-secondary: #dfcc9a;
        --bg-tertary: #cfb56d;
      }
      
      .theme-icon {
        display: none;
      }
      
      .dark #darkIcon {
        display: block;
      }
      
      .light #lightIcon {
        display: block;
      }
      
      .solar #solarIcon {
        display: block;
      }

