@import "global-variables";

.top-bar
{
        //background-color: #333333;

        position: fixed;
        width: 100%;
        height: 3rem;
        top: 0;
        left: 0;

        

        z-index: 100;
}

.top-bar .container //flexbox
{
        width: auto;
        height: 100%;
        top: auto;
        left: auto;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        
        
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;

        margin: 0;
        padding: 0;
}

.top-bar .container li
{
        list-style-type: none;
}

.top-bar .container .item
{
        color: #222222;
        height: 100%;
        width: 2rem;

        margin-top: auto;
        margin-right: 1rem;
}

.top-bar .container .item a
{
        display: flex;
        align-items: center;
        height: 3rem;
        text-decoration: none;


}

.top-bar svg
{
        height: 2rem;

        margin: auto;
}