@import "global-variables";


h1
{

        text-align: center;

        top: 2vw;
        font-size: 10vw;
        margin-bottom: 3rem;

        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */

}

#auth-and-load, #execute
{
        position: absolute;
        top: 12vw;
}

.video-container
{

        position: relative;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: 1rem;

        display: flex;

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
        
        padding-bottom: 3rem;
}

// Big screens
@media only screen and (min-width: $critical-width)
{
        #auth-and-load
        {
                left: 6rem;
        }

        #execute
        {
                left: 13rem;
        }
}

// Small screens
@media only screen and (max-width: $critical-width)
{
        #auth-and-load
        {
                left: 1rem;
        }

        #execute
        {
                left: 8rem;
        }
}

.video-container .item .thumbnail
{
        width: 10rem;
        height: 6rem;

        margin: 1rem;


        border-radius: 2rem 0.5rem 2rem 0.5rem;
        text-align: center;

        background-position: center;
        background-size: cover;
        //overflow: hidden;

}

.item h2
{
        position: relative;
        color: var(--text-color1);
        font-size: 1rem;

        margin-top: -0.75rem;

        text-align: center;
}

.item img
{
        object-fit: cover;

        background-position: center;
        background-size: cover;
        overflow: hidden;
}