@import "global-variables";


h1
{
        text-align: center;

        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */

        background-color: green;
}

#auth-and-load, #execute
{
        position: absolute;
}

.video-container
{
        position: relative;
        margin-right: 2rem;


        display: flex;

        background-color: red;


        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
}

// Big screens
@media only screen and (min-width: 600px)
{
        .video-container
        {
                margin-top: 2rem;
                margin-left: 2rem;
        }

        h1
        {
                top: 1rem;
                font-size: 8rem;
        }


        #auth-and-load
        {
                top: 10rem;
                left: 6rem;
        }

        #execute
        {
                top: 10rem;
                left: 13rem;
        }
}

// Small screens
@media only screen and (max-width: 600px)
{
        .video-container
        {
                margin-top: 1rem;
                margin-left: -3rem;
        }

        h1
        {
                margin-left: -5rem;
                top: 0.5rem;
                font-size: 4rem;
        }


        #auth-and-load
        {
                top: 5rem;
                left: 1rem;
        }

        #execute
        {
                top: 5rem;
                left: 8rem;
        }
}

.video-container .item .thumbnail
{
        width: 10rem;
        height: 6rem;

        margin: 1rem;


        border-radius: 2rem 0.5rem 2rem 0.5rem;
        text-align: center;

        background-position: center;
        background-size: cover;
        //overflow: hidden;

}

.item h2
{
        position: relative;
        color: var(--text-color1);
        font-size: 1rem;

        margin-top: -0.75rem;

        text-align: center;
}

.item img
{
        object-fit: cover;

        background-position: center;
        background-size: cover;
        overflow: hidden;
}